* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: -apple-system, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --heading-color: #e0ffff; /*(Dodger Blue)*/
  --background-color: #002147; /*(Light Gray)*/
  --second-background-color: #e0ffff; /*(Darl Slate Gray)*/
  --heading-font: Montserrat, sans-serif;
  --body-font: Merriweather, serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--second-background-color);
  color: black;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

/* header section */
.header {
  position: fixed;
  width: 100%;
  top: 0%;
  right: 0%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem 5%;
  background: var(--background-color);
  backdrop-filter: blur(10px);
  transition: all 0.5s ease;
}

.navbar ul {
  display: flex;
  gap: 3rem;
}

.logo {
  font-size: 3rem;
  color: var(--heading-color);
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s ease;
}

.logo:hover {
  transform: scale(1.05);
}

.navbar a {
  font-size: 1.9rem;
  font-weight: 700;
  color: var(--heading-color);
}

.navbar a:hover,
.navbar a.active {
  color: #fff;
}

#menu-icon {
  font-size: 3.6rem;
  color: #fff;
  cursor: pointer;
}

/* home section code */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home img {
  width: 25vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--background-color);
  cursor: pointer;
  animation: floatImage 4s ease-in-out infinite;
  transition: 0.4s ease;
}

.home img:hover {
  box-shadow: 0 0 25px var(--background-color), 0 0 55px var(--heading-color),
    0 0 45px var(--background-color);
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.4rem);
  }
  100% {
    transform: translateY(0);
  }
}

.home-content {
  margin-left: 5rem;
}

.home-content .intro {
  font-size: 3.7rem;
  font-weight: 700;
}

.home-content .intro:nth-of-type(2) {
  margin-bottom: 2rem;
}

span {
  color: var(--background-color);
}

.home-content h1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.5;
}

.home-content p {
  font-size: 1.6rem;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  background-color: var(--heading-color);
  border: 0.2rem solid var(--background-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--background-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease;
}

.social-media a:hover {
  transform: scale(1.2) translateY(-10px);
  background-color: var(--background-color);
  color: var(--second-background-color);
  box-shadow: 0 0 25px var(--heading-color);
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background-color: var(--background-color);
  border-radius: 4rem;
  box-shadow: none;
  font-size: 1.6rem;
  color: var(--second-background-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.3s ease;
}

.btn:hover {
  color: var(--background-color);
  background-color: var(--second-background-color);
  box-shadow: 0 0 1.8rem var(--background-color);
  border: 1px solid var(--background-color);
  font-weight: 700;
}

/* About Section Code */
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: var(--second-background-color);
}

.about-img img {
  width: 25vw;
  border: 2px solid var(--background-color);
  border-radius: 50%;
  box-shadow: 0 0 25px var(--background-color);
  cursor: pointer;
  transition: 0.4s ease;
}

.about-img img:hover {
  box-shadow: 0 0 25px var(--background-color), 0 0 55px var(--heading-color),
    0 0 45px var(--background-color);
}

.heading {
  font-size: 6rem;
  text-align: center;
}

.about-content {
  padding: 0 4rem;
}

.about-content h2 {
  text-align: left;
  line-height: 1.2;
}

.about-content h3 {
  font-size: 3rem;
}

.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

/* Services Section Code */
.services h2 {
  margin-bottom: 5rem;
}

.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.services-container .services-box {
  flex: 1 1 30rem;
  background-color: var(--heading-color);
  padding: 6rem 2rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.3rem solid var(--background-color);
  transition: 0.3s ease;
}

.services-box i {
  font-size: 7rem;
  color: var(--heading-color);
}

.services-box h3 {
  font-size: 2.6rem;
}

.services-box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}

/* Contact Section Code */
/* wf1 stands for web form #1 */

.wf1 {
  margin: 0 auto; /* centers horizontally */
  max-width: 400px;
  width: 100%;
}

.wf1 label {
  display: block;
  padding-top: 1rem;
  font-size: 1.6rem;
}

.wf1 input[type="text"],
.wf1 input[type="tel"],
.wf1 input[type="email"],
.wf1 textarea {
  display: block;
  border: 1px solid var(--background-color);
  border-radius: 0.6rem;
  min-height: 4.4rem;
  font-size: 1.8rem;
  padding: 0.6rem 1rem;
  line-height: 1.5;
  width: 100%;
  max-width: 400px;
}

/* .wf1 input[type="submit"] {
  border: none;
  background-image: linear-gradient(#002147, #001030);
  color: var(--heading-color);
  border-radius: 6px;
  padding: 1.4rem;
  width: 100%;
  max-width: 200px;
  margin: 2rem auto 2rem auto;
  box-shadow: 1px 1px 4px #999;
  font-size: 1.8rem;
} */

.wf1 .btn {
  margin: 1.6rem 30% 1.8rem auto;
  display: block;
}

.wf1 input:required {
  border-bottom: solid 8px red;
}

.wf1 input:required:valid {
  border-bottom: solid 8px green;
}

footer {
  text-align: center;
  font-size: 1.6rem;
  margin: 1.6rem;
}

/* Responsive Design */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }
  section {
    padding: 10rem 3%;
  }
  .services {
    padding: 7rem;
  }
}
