.grid-container {
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
  height: 100vh;
  padding: 10px;
  color: white;
}

.header {
  grid-column: 1 / 4;
  background: #f8b400;
  padding: 10px;
}

.sidebar-left {
  grid-row: 2;
  grid-column: 1;
  background: #6a0572;
}

.main-content {
  grid-row: 2;
  grid-column: 2;
  background: #ab83a1;
}

.sidebar-right {
  grid-row: 2;
  grid-column: 3;
  background: #6a0572;
}

.footer {
  grid-column: 1 / 4;
  background: hsl(44, 100%, 49%);
  padding: 10px;
}