* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #000000;
  padding: 0.75rem;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav li {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #ffffff;
}

body {
  display: grid;
  grid-template: auto 1fr auto / 1fr 250px;
  width: 800px;
  margin: 0 auto;
  height: 30vw;
}

.header-content {
  padding: 1rem;
  color: lightgray;
  background-color: gray;
  padding: 1rem;
  height: 5vw;
}

header {
  grid-column: 1/3;
}
main {
  grid-column: 1/2;
  color: #000000;
  background-color: lightgrey;
  height: 15vw;
}

aside {
  grid-column: 2/3;
  color: #000000;
  background-color: #ffffff;
}

footer {
  grid-column: 1/3;
  color: lightgrey;
  background-color: gray;
  height: 10vw;
  text-align: center;
}

main,
aside,
footer {
  padding: 1rem;
}
