* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1000px;
  margin: 0 auto;
  color: #000000;
}

header {
  font-family: "Open Sans", sans-serif;
  background-color: #1a1a2b;
  color: #f5f7fa;
  text-align: center;
  display: block;
}
h1{padding: 1rem;}

h2 {
  font-family: "Open Sans", sans-serif;
}

h2,
footer {
  background-color: #1a1a2b;
  color: #f5f7fa;
  text-align: center;
}

#course-title {
  font-weight: 400;
  font-size: 2rem;
}

.myname {
  color: #00ffff;
  font-size: 1.6rem;
}

nav {
  background-color: #b3c7f7;
  padding: 1rem;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  flex: 1 1 100%;
}

nav a {
  text-decoration: none;
  color: #1a1a2b;
  font-size: 1rem;
}

nav a:hover {
  border-bottom: 1px solid #f5f7fa;
}

nav,
p {
  font-family: "Roboto", sans-serif;
}

.main-sections {
  display: grid;
  grid-template-columns: 650px 300px;
  gap: 8px;
  margin: 0 1rem;
}

.card {
  border: #333 solid 2px;
  border-radius: 9px;
  margin: 1.5rem 0 0;
}

.birth-place {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  border-bottom: 1px solid;
  padding: 2px;
  margin-left: 70px;
  width: 400px;
}

#section-first-pic {
  float: right;
  width: 120px;
  height: auto;
  margin: 1rem 2rem 40% 1rem;
  border: 1px solid black;
}

#figure-main {
  float: left;
  margin: 1rem;
  font-size: smaller;
  margin: 3rem 1rem 5% 1rem;
}

#figure-main figcaption {
  margin-top: 15px;
}

#section-second-pic {
  width: 150px;
  height: 80px;
  border: 1px solid black;
}

p {
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 8px;
}

.main-h2 {
  padding: 1rem;
  margin: 0;
  text-align: center;
}

.section-ul {
  padding: 9rem 2.5rem;
}

.footer-p1 {
  font-size: 1.5rem;
}

#lastModified {
  color: #00ffff;
  padding: 5px;
  font-weight: 300;
  margin-top: 10px;
}

footer {
  margin: 1.5rem;
  padding: 1rem 0 1.5rem 0;
  text-align: center;
}

footer p {
  line-height: 0;
  margin: 0;
}
