@media screen and (min-width: 768px) {
  #menu-toggle {
    display: none;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
  }

  .logo {
    flex-grow: 2;
    flex-shrink: 0;
    white-space: nowrap;
    font-size: x-large;
  }

  nav {
    display: flex !important;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem;
    flex-grow: 1;
    background-color: transparent;
    padding: 0;
  }

  nav a {
    border: none;
    padding: 0.5rem 0;
    width: auto;
    text-align: left;
  }

  body {
    max-width: 900px;
    margin: 0 auto;
  }

  h1 {
    text-align: center;
  }

  main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
  }

  .grid-gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
  }

  .grid-gallery img {
    width: 250px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid gainsboro;
    box-shadow: 0 8px 16px rgba(128, 128, 128, 1);
  }
}

h3 {
  text-align: center;
}

section p {
  text-align: center;
  line-height: 1;

  .label {
    color: blueviolet;
    font-weight: 100;
    font-size: small;
  }
}

section {
  background-color: rgba(220, 220, 220, 0.5);
  padding: 5%;
}
