:root {
  --primary-color: #004d40;
  --accent-color: #ffcc00;
  --font-main: "Roboto", sans-serif;
  --font-heading: "Playfair Display", serif;
  --spacing: 1rem;
}

* {
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
}

nav li {
  flex: 1 1 100%;
  list-style: none;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
  background-color: aliceblue;
  color: antiquewhite;
  cursor: pointer;
}

body {
  max-width: 414px;
  margin: 0 auto;
}

.main-home {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
h1 {
  text-align: center;
}

#lastModified {
  color: #00ffff;
  padding: 5px;
  font-weight: 300;
  margin-top: 10px;
}

footer {
  margin: 1rem;
  padding: 2rem;
  font-size: large;
  text-align: center;
  line-height: 0.5rem;
  background-color: #1a1a2b;
  color: #f5f7fa;
  text-align: center;
}
