@media screen and (min-width: 768px) {
  #menu-toggle {
    display: none;
  }

  body {
    max-width: 900px;
    margin: 0 auto;
  }

  nav {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    background-color: transparent;
    padding: 0;
  }

  nav.show {
    display: flex !important;
  }

  nav a {
    border: none;
  }

  .grid-gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
  }
  figure img {
    width: 250px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  main {
    max-width: 1000px;
  }
}
