@media (max-width: 600px) {
  nav {
    padding: 1rem;
  }

  footer {
    padding: 1rem;
    text-align: center;
  }

  nav a {
    display: block;
    width: 100%;
  }

  #navbar {
    display: none;
  }

  #navbar.show {
    display: block;
  }
}

:root {
  --primary-color: #004d40;
  --accent-color: #ffcc00;
  --font-main: "Roboto", sans-serif;
  --font-heading: "Playfair Display", serif;
}

body {
  font-family: var(--font-main);
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  color: #333;
  overflow-x: hidden;
}

header {
  background: var(--primary-color);
  color: white;
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header span {
  margin: 0;
}

header,
nav,
footer {
  width: 100%;
  box-sizing: border-box;
}

nav {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color);
  padding: 1rem;
  width: 100%;
}

nav.show {
  display: flex;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #00695c;
}

nav a:hover {
  background-color: #00695c;
}

footer {
  background: var(--primary-color);
  color: white;
  text-align: center;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

#menu-toggle {
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
main {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
}

.grid-gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  overflow: hidden;
}

.grid-gallery img {
  width: 100%;
  height: auto;
  display: block;
}

figure {
  margin: 0;
  background: white;
  padding: 0.5rem;
  border: 1px solid #ccc;
}

figcaption {
  text-align: center;
  font-family: var(--font-heading);
  font-size: 0.9rem;
}
