@media screen and (min-width: 768px) {
  #menu-toggle {
    display: none;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
  }

  .logo {
    flex-grow: 2;
    flex-shrink: 0;
    white-space: nowrap;
    font-size: x-large;
  }

  nav {
    display: flex !important;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem;
    flex-grow: 1;
    background-color: transparent;
    padding: 0;
  }

  nav a {
    border: none;
    padding: 0.5rem 0;
    width: auto;
    text-align: left;
  }

  body {
    max-width: 900px;
    margin: 0 auto;
  }

  h1 {
    text-align: center;
  }

  main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
  }

  .grid-gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
  }

  figure img {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
  }
}
